.card {
    position: relative;
    width: 149px;
    height: 208px;
    border-radius: 10px;

    &.double-size {
        width: 298px;
        height: 416px;
        border-radius: 20px;
    }

    .card-sides {
        .card-side {
            border-radius: 10px;
            background-size: auto 100%;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            &.back {  
                background-image: url('img/card-back.jpg');
            }

            &.front {
                &[data-type="0"] {
                    background-image: url('img/cards0.jpg');
                    @for $index from 1 through 6 {
                        &[data-index="#{$index}"] {
                            background-position-x: #{($index - 1) * 100% / 5};
                        }
                    }
                }
                
                @for $type from 1 through 4 {
                    &[data-type="#{$type}"] {
                        background-image: url('img/cards#{$type}.jpg');
                        @for $index from 1 through 16 {
                            &[data-index="#{$index}"] {
                                background-position-x: #{($index - 1) * 100% / 15};
                            }
                        }
                    }
                }

                &.flower-power {
                    background-image: url('img/flower-power-cards.jpg');
                }
            }
        }
    }    

    &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        &:not(.bga-cards_selected-card) {
            animation: selectable-card-animation 1s alternate infinite ease-in-out;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
        box-shadow: 0 0 5px 8px orange;

        .card-side {
            box-shadow: unset;
        }
    }
}

@keyframes selectable-card-animation {
    0% { 
      //background: var(--background-lighter);
      box-shadow: 0 0 3px 2px #FFFFFF;
    }
    100% { 
      //background: var(--background-darker);
      box-shadow: 0 0 5px 3px #FFFFFF;
    }
}