.color-help-folded-content {
    background: url('img/logo-coloradd.svg') white center no-repeat;
    background-size: contain;
}

.color-help-unfolded-content {
    display: grid;
    grid-template-columns: 40px 80px;
    align-items: center;
    justify-items: center;
    background: #ebdbcb;
    
    .color-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-image: url('img/cards0.jpg');
        background-position-x: -80px;
        border-radius: 5px;

        @for $i from 0 through 4 {
            &[data-row="#{$i}"] {
                background-position-y: #{-9px - 282px * $i};
            }
        }
    }

    .label {
        font-size: 10pt;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 42px;
        word-break: break-word;  
        color: black;      
    }
}


#popin_bgaHelpDialog {
    background: #ebdbcb;
}

#help-popin {
    h1, h2 {
        padding: 5px;
        border-radius: 10px;
        font-weight: normal;
        color: white;
        font-family: "komika parch";
        text-align: center;
    }

    h1 {
        background: #571f13;
        font-size: 22px;
        margin: 10px 0;
    }

    h2 {
        background: #C1262F;
        font-size: 18px;
        margin: 8px 0;
    }

    .row {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 64px auto;
        gap: 10px;

        .help-icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-image: url('img/cards.jpg');
            border-radius: 5px;
    
            &.card {
                background-position: -1010px -232px;
            }
            &.token {
                background-position: -1616px -232px;
            }

            &.score {
                width: 40px;
                height: 40px;
            }
    
            &.by-color {
                background-position: -8px -8px;
            }
            &.different {
                background-position: -1220px -572px;
            }
            &.by-resource {
                background-position: -614px -854px;
            }
            &.by-type {
                background-position: -1826px -290px;
            }
        }

        &.help-chief {
            grid-template-columns: 108px auto;

            .help-icon {
                width: 100px;
                background-image: url('img/cards0.jpg');
                background-position-y: -231px;

                @for $i from 1 through 4 {
                    &[data-power="#{$i}"] {
                        background-position-x: #{-910px - 202px * ($i - 1)};
                    }
                }
            }
        }

        .help-label {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }
}