.player-table {
  width: 547px; // 169 * 3 + 4 * 10
  position: relative;
  background: #FFFFFF66;
  border: 2px solid white;
  border-radius: 15px;

  .name-wrapper {
    position: relative;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 20pt;
      font-weight: bold;
    }
  }

  .player-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    justify-content: center;
    gap: 10px;

    .space {
      width: 169px;
      height: 228px;
      outline: 1px solid #FFFFFF66;
      border-radius: 10px;
      position: relative;

      .slot {
        position: absolute;

        &[data-slot-id="0"] {
          top: 0px;
          left: 0px;
        }
        &[data-slot-id="1"] {
          bottom: 0px;
          right: 0px;
        }
      }

      &.selectable {
        cursor: pointer;
        animation: selectable-card-animation 1s alternate infinite ease-in-out;
      }
    }
  }
}