#round-counter-wrapper {
    position: absolute;
    top: 0;
    left: 10px;
    text-align: center;
  
    .counter {
      margin-top: 5px;
      font-size: 150%;
    }
  }

#table-center {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    padding: 5px; 
    min-width: 790px;

    .discard-stack {
        display: inline-block;
        position: relative;
        width: 159px;
        height: 218px;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: #FFFFFF66;
    }

    #table-cards {
        width: 620px;
    }
}

.cards-stack {
    position: relative;

    .old-card {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pile-counter {
        position: absolute;
        bottom: -18px;
        right: 0;
        left: 0;
        font-size: 80%;
        text-align: center;
        color: lightcyan;
        width: unset;
        height: unset;
        top: unset;
    }
}
